In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
dataFrame = pd.read_csv("Andhra_dataset2.csv")

In [3]:
#First Column: Caste
#    1: sc
#    2: st
#    3: bc
#    4: oc
#Second Column: Age
#Third Column: Weight
#History: Toxemia Of pregnancy
#HB 
#IFA: Took folic acid.
#BP: Blood Pressure.

dataFrame.head()

       age  weight1  history   HB  IFA       BP1  education  res  reslt
0  1  26.0     37.0      1.0  5.9    1  1.444444        5.0  1.0      0
1  1  21.0     42.0      1.0  9.2    1  1.375000        5.0  1.0      0
2  1  21.0      NaN      1.0  8.8    1  1.500000        5.0  1.0      0
3  1  21.0      NaN      1.0  9.2    1  2.125000        5.0  1.0      0
4  1  21.0      NaN      1.0  8.0    1  1.375000        5.0  1.0      0

In [4]:
#Droping column education because education isn't really usefull anyway.
dataFrame.drop("education", inplace=True, axis=1)

In [9]:
dataFrame.columns = ['Caste', 'Age', 'Weight1', 'History', 'HB', 'IFA', 'BP1', 'Resident', 'Result']

In [10]:
dataFrame.head(10)

   Caste   Age  Weight1  History    HB  IFA       BP1  Resident  Result
0      1  26.0     37.0      1.0   5.9    1  1.444444       1.0       0
1      1  21.0     42.0      1.0   9.2    1  1.375000       1.0       0
2      1  21.0      NaN      1.0   8.8    1  1.500000       1.0       0
3      1  21.0      NaN      1.0   9.2    1  2.125000       1.0       0
4      1  21.0      NaN      1.0   8.0    1  1.375000       1.0       0
5      1  24.0     33.0      1.0   9.3    1  1.571000       1.0       0
6      1  26.0     35.0      1.0   9.2    1  1.571429       1.0       0
7      4  26.0     31.0      1.0   NaN    1  1.625000       1.0       0
8      3  21.0      NaN      1.0  11.0    1  1.375000       1.0       0
9      1  22.0     30.0      1.0   NaN    1       NaN       1.0       0

In [13]:
df1 = dataFrame[dataFrame['Result'] == 0]
df2 = dataFrame[dataFrame['Result'] == 1]

In [19]:
df1 = df1.fillna(df1.mean())
df2 = df2.fillna(df2.mean())

In [46]:
frames = [df1, df2]
df_new = pd.concat(frames)

In [55]:
df_new['Age'] = df_new['Age'].apply(np.ceil)
df_new['Weight1'] = df_new['Weight1'].apply(np.floor)
df_new['HB'] = df_new['HB'].round(1)
df_new['History'] = df_new['History'].round()
df_new['Resident'] = df_new['Resident'].round()

In [56]:
df_new.head(102)

     Caste   Age  Weight1  History    HB  IFA       BP1  Resident  Result
0        1  26.0     37.0      1.0   5.9    1  1.444444       1.0       0
1        1  21.0     42.0      1.0   9.2    1  1.375000       1.0       0
2        1  21.0     36.0      1.0   8.8    1  1.500000       1.0       0
3        1  21.0     36.0      1.0   9.2    1  2.125000       1.0       0
4        1  21.0     36.0      1.0   8.0    1  1.375000       1.0       0
5        1  24.0     33.0      1.0   9.3    1  1.571000       1.0       0
6        1  26.0     35.0      1.0   9.2    1  1.571429       1.0       0
7        4  26.0     31.0      1.0   9.0    1  1.625000       1.0       0
8        3  21.0     36.0      1.0  11.0    1  1.375000       1.0       0
9        1  22.0     30.0      1.0   9.0    1  1.736946       1.0       0
10       4  17.0     30.0      1.0   9.0    0  1.375000       1.0       0
11       3  35.0     36.0      1.0   9.9    1  1.571429       1.0       0
12       3  24.0     38.0      1.0   9.0    0  1.736946       1.0       0
13       1  21.0     32.0      1.0   9.0    0  1.736946       1.0       0
14       4  20.0     36.0      1.0   9.0    0  1.736946       2.0       0
15       3  38.0     33.0      1.0  10.0    0  1.571429       1.0       0
16       3  20.0     36.0      1.0   8.9    0  1.714286       2.0       0
17       3  23.0     39.0      1.0   9.0    1  1.375000       1.0       0
18       1  25.0     45.0      6.0   9.0    0  1.736946       1.0       0
19       1  21.0     40.0      1.0   9.0    0  1.736946       1.0       0
20       3  24.0     40.0      1.0   9.0    1  1.736946       1.0       0
21       1  24.0     36.0      1.0   9.6    0  1.200000       1.0       0
22       3  26.0     36.0      1.0   9.0    0  5.500000       1.0       0
23       1  27.0     36.0      1.0   8.0    1  1.571429       1.0       0
24       1  21.0     36.0      1.0   9.4    1  1.500000       1.0       0
25       4  24.0     36.0      1.0   9.0    0  1.661538       1.0       0
26       1  24.0     49.0      1.0   8.9    1  1.333333       1.0       1
27       1  24.0     40.0      1.0   8.7    1  1.714286       1.0       1
28       1  24.0     40.0      1.0   9.5    1  1.714286       1.0       1
29       1  26.0     45.0      1.0   9.0    1  1.375000       1.0       1
..     ...   ...      ...      ...   ...  ...       ...       ...     ...
71       1  21.0     50.0      1.0   9.2    1  1.625000       1.0       1
72       1  21.0     43.0      1.0  10.2    1  1.571429       1.0       1
73       3  24.0     40.0      1.0   9.3    1  1.375000       1.0       1
74       3  23.0     44.0      1.0  10.4    1  1.375000       1.0       1
75       3  26.0     44.0      1.0  11.0    1  1.571429       1.0       1
76       1  29.0     56.0      1.0   8.4    1  1.571429       1.0       1
77       1  23.0     60.0      1.0  10.0    1  1.375000       2.0       1
78       3  26.0     40.0      1.0  11.0    1  1.222222       2.0       1
79       1  25.0     50.0      1.0   5.9    1  1.428571       2.0       1
80       1  24.0     43.0      1.0   9.0    1  1.666667       2.0       1
81       3  26.0     63.0      1.0   8.9    1  1.375000       2.0       1
82       1  20.0     46.0      1.0   9.0    1  1.714286       1.0       1
83       3  20.0     43.0      1.0   9.2    1  1.375000       1.0       1
84       3  24.0     60.0      1.0   9.2    1  1.714286       1.0       1
85       4  21.0     48.0      1.0   9.2    1  1.375000       1.0       1
86       3  23.0     39.0      1.0   9.1    0  1.696758       1.0       1
87       3  24.0     40.0      1.0   9.1    0  1.696758       1.0       1
88       3  21.0     43.0      1.0   9.0    1  1.375000       1.0       1
89       1  26.0     44.0      1.0   9.1    0  1.696758       1.0       1
90       1  25.0     52.0      1.0   9.1    0  1.696758       1.0       1
91       3  27.0     45.0      1.0   9.1    0  1.500000       1.0       1
92       3  27.0     42.0      1.0   9.1    0  1.696758       1.0       1
93       3  21.0     48.0      1.0   9.1    0  1.696758       1.0       1
94       1  24.0     40.0      1.0   9.1    0  1.696758       1.0       1
95       3  25.0     49.0      1.0   9.1    0  1.571429       1.0       1
96       3  21.0     55.0      1.0   9.0    0  1.375000       1.0       1
97       3  24.0     39.0      6.0   8.4    0  1.500000       1.0       1
98       3  24.0     50.0      1.0   9.1    0  1.375000       1.0       1
99       1  24.0     38.0      1.0   9.1    0  1.696758       1.0       1
100      3  21.0     50.0      1.0   9.0    1  1.375000       1.0       1

[101 rows x 9 columns]